body{
    background-color: #222;
}
.div-1{
    color: red;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    width: 60px;
    margin-right: auto;
    margin-left: 100px;
    position: absolute;
    text-align: center;
}

.div-2{
    color: blue;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60px;
    background-color: white;
    margin-right: 100px;
    margin-left: auto;
    text-align: center;

}